@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    background-image: url('/studymate/client/assets/icons/studymate-logo.png');
    background-size: 10rem;
    font-family: 'Rubik', Arial, sans-serif;
}
/*Login Container*/
.login-container {
    background: #fff;
    border: 3px solid #18b6d6;
    border-radius: 8px;
    width: 420px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 2px 16px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 110px;
    margin-bottom: 32px;
}

.login-input {
    width: 93%;
    padding: 12px 10px;
    margin-bottom: 18px;
    border: 2px solid #18b6d6;
    border-radius: 6px;
    font-size: 1.1em;
    outline: none;
    transition: border 0.2s;
    background: #fff;
    align-self: center;
}

.login-input:focus {
    border-color: #0e8ca6;
}

.forgot-link {
    color: #222;
    text-decoration: underline;
    font-size: 1em;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.2s;
    display: block;
    text-align: center;
}

.forgot-link:hover {
    color: #18b6d6;
}

/*Buttons*/
.login-btn, .register-btn {
    width: 100%;
    padding: 14px 0;
    border: none;
    border-radius: 7px;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    transition: color 0.2s;
}

.login-btn {
    background: #18b6d6;
    margin-top: 10px;
    color: #fff;
}

.login-btn:hover {
    background: #0e8ca6;
}

.register-btn {
    background: #e2a63b;
    color: #fff;
    margin-bottom: 0;
}

.register-btn:hover {
    background: #c98c1e;
}
